spring:
  application:
    name: livrariaApi
  h2:
      console:
        enabled: true
        path: /h2-console
  datasource:
    url: jdbc:h2:mem:testedb
    username: sa
    password:
    driverClassName: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
