spring:
  application:
    name: livrariaApi
  datasource:
    url: jdbc:h2:mem:testedb
    username: sa
    password:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        "[show_sql]": true
        "[format_sql]": true